{erl_opts, [debug_info]}.
{deps, [{grpcbox, {git, "https://github.com/tsloughter/grpcbox.git", {branch, "master"}}},
        jiffy]}.

{grpc, 
    [{protos, "priv/protos"},
     {gpb_opts, [{module_name_suffix, "_pb"}, {type_specs, false}]}
    ]
}.

{plugins, [{grpcbox_plugin, {git, "https://github.com/tsloughter/grpcbox_plugin.git", {branch, "master"}}}]}.
{shell, [
    {config, "config/sys.config"},
    {apps, [epy_mind, grpcbox]}
]}.
